
body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 20px;
}

a {
  color: #222;
}

#audSeek{
	padding: 0px;
	margin: 0px;
	width: 500px;
	display: inline-block;
}

#audControls, #audNowMeta {
	text-align: center;
	padding-bottom: 12px;
}

#audLoading {
	display: none;
}

#audBuffer {
	float: left;
	display: inline;
	height: 5px;
	width: 0%;
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background-image: url("/img/buffer.png");
	background-repeat: repeat-x;
}

#audVisual {
	text-align: center;
}

#audRepeatLabel {
	vertical-align: top;
	margin-top: 2px;
}

#audRepeatLabel > .ui-button-text {
	visibility: hidden;
	font-size: 5pt !important;
	color: #000000;
}

#audShuffleCont {
	margin-left: -170px;
}

#audRepeatLabel {
	margin-right: 110px;
}

#audVolCont {
	position: absolute;
	margin-left: 60px;
}

#audMuteButton {
	margin-right: 8px;
}

#audVol {
	width: 120px;
	display: inline-block;
	margin-top: -13px;
	margin-bottom: 2px;
}

.ui-button-icon-only {
	height: 15px;
}

.ui-icon-pause {
	margin-left: -px !important;
}

#audMuteButton {
	width: 15px;
	margin-left: -1px;
}

.audPage {
	display: none;
}

.audCont {
	display: inline-block;
}

.audTime {
	padding: 0px 7px 0px 7px;
}

.ui-slider-handle {
	outline: 0px;
}

tr, td {
	cursor: move;
}

.even {
	background-color: #DEDFE1;
}

.odd {
	background-color: #EFF0F2;
}

.even.row_selected td {
    background-color: #8FBCF0;
}

.odd.row_selected td {
    background-color: #97C5F8;
}

#audLibrary {
	width: 70%;
	margin-left: 15%;
}

#audLibTable {
	width: 100%;
	border: 0px;
	border-spacing: 0px;
}

#audLibTable tbody tr.even:hover, #audLibTable tbody tr.even td.highlighted {
	background-color: #BFCCE7;
}

#audLibTable tbody tr.odd:hover, #audLibTable tbody tr.odd td.highlighted {
	background-color: #D0DEF9;
}

#audLibTable tr.even:hover {
	background-color: #BFCCE7;
}

#audLibTable tr.even td.sorting_1 {
	background-color: #D7E4FF;
}

#audLibTable tr.even td.sorting_2 {
	background-color: #D7E4FF;
}

#audLibTable tr.even td.sorting_3 {
	background-color: #D7E4FF;
}

#audLibTable tr.odd:hover {
	background-color: #D0DEF9;
}

#audLibTable tr.odd td.sorting_1 {
	background-color: #E7EFFF;
}

#audLibTable tr.odd td.sorting_2 {
	background-color: #E7EFFF;
}

#audLibTable tr.odd td.sorting_3 {
	background-color: #E7EFFF;
}