
#audPlayer {
	opacity: 0.0;
}

#audSeek{
	padding: 0px;
	margin: 0px;
	width: 500px;
	display: inline-block;
}

#audControls, #audNowMeta {
	text-align: center;
	padding-bottom: 12px;
}

#audLoading {
	display: none;
}

#audBuffer {
	float: left;
	display: inline;
	height: 5px;
	width: 0%;
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background-image: url("/img/buffer.png");
	background-repeat: repeat-x;
}

.audPage {
	display: none;
}

.audCont {
	display: inline-block;
}

.audTime {
	padding: 0px 7px 0px 7px;
}

.ui-slider-handle {
	outline: 0px;
}